[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
sync = "python main.py"
test = "python -m unittest discover tests"

[packages]
requests = "*"
markdown = "*"
pyyaml = "*"
ipdb = "*"

[dev-packages]

[requires]
python_version = "3.10"
